
  
 .pingu {
    width: 100px;
    height: 100px;
    cursor: -webkit-grab;
    position: absolute;
    bottom: 0px;
    left: 50%;
    touch-action: none;
  }
  
  .pingu:active {
    cursor: -webkit-grabbing;
  }
  