*{
  user-select: none;
}

  
#pingu {
  width: 100px;
  height: 100px;
  cursor: -webkit-grab;
  position: absolute;
  bottom: 0px;
  left: 50%;
  touch-action: none;
}

#pingu:active {
  cursor: -webkit-grabbing;
}
#slide{
  width: 100px;
  touch-action: none;
  position: relative;
  bottom: 0px;
  margin: 50px 0px;
  cursor: -webkit-grab;
  animation:linear infinite alternate;
  animation-name: run;
  animation-duration: 5s;
} 
#slide:active {
  cursor: -webkit-grabbing;
}    
@keyframes run {
  0% { left: 0;}
  50%{ left : 80%;}
  100%{ left: 0;}
}
